/* Flex */
.flex {
  display: flex;
}

.flex.align-items-center {
  align-items: center;
}

/* Justify */
.flex.justify-center {
  justify-content: center;
}

/* Margin */

/* Margin left */
.ml-16 {
  margin-left: 16px !important;
}

.ml-auto {
  margin-left: auto !important;
}

/* Margin right */
.mr-32 {
  margin-right: 32px !important;
}

/* Margin top */
.mt-16 {
  margin-top: 16px !important;
}

/* Margin bottom */
.mb-16 {
  margin-bottom: 16px !important;
}

/*
  Table cell width
*/
.table-cell-width {
  width: 160px;
}
